Please choose your sauce, cheese, and toppings. 
<form method = "post" action = "/index">
<p> Size: </p>
<p><input type = "radio" name = "size" value = "personal"> personal</p>
<p><input type = "radio" name = "size" value = "small"> small </p>
<p><input type = "radio" name = "size" value = "medium"> medium </p>
<p><input type = "radio" name = "size" value = "large"> large </p>
<p><input type = "radio" name = "size" value = "x-large"> x-large </p>
</p>
<p> Sauce: <br></p>
<p><input type = "checkbox" name = "sauce[]" value = "regular"> regular</p>
<p><input type = "checkbox" name = "sauce[]" value = "garlic"> garlic</p>
<p><input type = "checkbox" name = "sauce[]" value = "garden_herbs"> garden herbs</p>
<p> Cheese: <br></p>
<p><input type = "checkbox" name = "cheese[]" value = "mozzarella"> mozzarella </p>
<p><input type = "checkbox" name = "cheese[]" value = "italian_blend"> italian italian_blend</p>
<p><input type = "checkbox" name = "cheese[]" value = "provolone"> provolone </p>
<p><input type = "checkbox" name = "cheese[]" value = "parmesan"> parmesan </p>
 </p>

<p> Meat: <br>
<p><input type = "checkbox" name = "meat[]" value = "pepperoni"> pepperoni</p>
<p><input type = "checkbox" name = "meat[]" value = "ham"> ham </p>
<p><input type = "checkbox" name = "meat[]" value = "sausage"> sausage </p>
<p><input type = "checkbox" name = "meat[]" value = "bacon"> bacon </p>
<p> Veggies: <br>
<p><input type = "checkbox" name = "veg[]" value = "peppers"> peppers</p>
<p><input type = "checkbox" name = "veg[]" value = "mushrooms"> mushrooms</p>
<p><input type = "checkbox" name = "veg[]" value = "onions"> onions</p>
<p><input type = "checkbox" name = "veg[]" value = "olives"> olives</p>
<input type = "submit">
</form>