Please choose your sauce, cheese, and toppings. 
<form method = "post" action = "/index">
<p> Sauce: <br>
<input type = "checkbox" name = "sauce[]" value = "regular"> regular
<input type = "checkbox" name = "sauce[]" value = "garlic"> garlic
<input type = "checkbox" name = "sauce[]" value = "garden_herbs"> garden herbs
</p>
<input type = "submit">
</form>